.page {
  display: flex;
  margin: auto;
  border: 3px solid green;
  border-radius: 5px;
}

.broadcasts {
  width: 300px;
  border-right: 3px solid green;
  padding: 10px;
  cursor: pointer;
}

.choice {
  width: 800px;
  text-align: center;
  padding-top: 250px;
  font-size: 3em;
}

.choice i {
  margin-right: 20px;
}
